AUTH_JWT=tu_jwt
SERVICE_TOKEN=token2026construccion
SCRIPT_NAME=main.py
API_BASE_URL=http://host.docker.internal:5023
API_USERNAME=tu_correo_o_nombre_de_usuario_de_admin_aqui
API_PASSWORD=tu_contraseña_aqu8i